<%- include('includes/head.ejs') %>
    <div class="container-fluid">
        <div id="loadingBuffering"></div>

        <div class="row">
            <div id="marsBanner" class="jumbotron bg-cover">
                <div class="container py-5">
                    <h1 class="display-4 font-weight-bold">Mars images browser</h1>
                    <p class="font-italic mb-2">Browse NASA Mars images and save your preferred ones..</p>
                    <button type="button" class="btn btn-dark px-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        About
                    </button>
                </div>
            </div>
        </div>

        <div class="row">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand" href="#">Hidden brand</a>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>

        <form id="homePageForm" method="post" action="/logout">
            <div class="row mt-2">
                <div class="col-12">
                    <button type="submit" id="logoutBtn" name="logoutBtn" class="btn btn-danger mt-2">LogOut</button>
                    <img src="https://avatars.dicebear.com/api/initials/:<%=user_first_name%>-
                <%=user_last_name%>.svg" class="img-fluid" id="iconName" alt="Avatar">
                    <h3 class="mt-3 d-none d-sm-block"> <b>&nbsp;Welcome,
                    <%=user_first_name%>
                        <%=user_last_name%></b>
                    </h3>
                    <p class="mt-4 d-block d-sm-none"><b>Welcome,
                    <%=user_first_name%>
                        <%=user_last_name%></b>
                    </p>
                </div>
            </div>
        </form>


        <div class="row">
            <div class="col-12 col-md-6 ">
                <form id="form-nasa-api">
                    <div class="m-2">
                        <h4 class="alert alert-dark fw-bold"><b>Search for images</b></h4>
                        <label for="dateInput">Date (YYYY-MM-DD) or Sol:</label>
                        <input type="text" class="form-control" id="dateInput" placeholder="YYYY-MM-DD or Sol">
                        <div class="text-danger errormessage"></div>
                    </div>

                    <div class="m-2">
                        <label for="missionInput">Select Mission:</label>
                        <select class="form-control" id="missionInput">
                            <option value="" disabled selected>Choose mission</option>
                        </select>
                        <div class="text-danger errormessage"></div>
                    </div>

                    <div class="m-2">
                        <label for="cameraInput">Select Camera:</label>
                        <select class="form-control" id="cameraInput">
                            <option value="" disabled selected>Choose camera</option>
                        </select>
                        <div class="text-danger errormessage"></div>

                        <div class="mt-2">
                            <button type="submit" class="btn btn-secondary" id="searchBtn"> Search</button>
                            <button type="button" class="btn btn-danger" id="clearBtn"> Clear</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12 col-md-6">
                <div class="m-2">
                    <h4 class="alert alert-dark fw-bold"> <b>Saved images</b></h4>
                    <button type="button" class="btn btn-secondary " id="slideShowBtn">Start slide show</button>
                    <button type="button" class="btn btn-secondary" id="editBtn">Edit Mode</button>
                    <button type="button" class="btn btn-danger togglevisible d-none" style="float: right;" id="clearAllBtn">Clear all</button>

                    <ol id="savedList">
                    </ol>
                </div>
            </div>
        </div>

        <!--add d-non on html-->
        <div class="row">
            <div class="col-3"></div>
            <div id="imagesCarousel" class="carousel slide col-6 d-none" data-bs-ride="carousel">
                <h4 class="p-3 mb-2 bg-dark text-white"><b>Slide Show</b></h4>
                <div class="carousel-inner" id="myCarousel">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#imagesCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#imagesCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row m-2">
            <h4 class=" alert alert-dark fw-bold"><b>Search result</b></h4>
            <h4 class="p-3 mb-2 bg-danger text-white d-none" id="noImagesFound"><b>No images found!</b></h4>
            <div class="row" id="photosGallery">
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Who we are?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Doron Azulay <br> DoronAz@edu.hac.ac.il
                        </p>
                        <p>
                            Liron Farzam <br> LironFa@edu.hac.ac.il
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <!--custom modal-->
        <div class="modal" tabindex="-1" id="errorModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Oops!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="errorModalText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--custom modal-->
        <div class="modal" tabindex="-1" id="deleteAllSavedImageList">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-danger">Warning</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="errorModalText">You're about to delete all the photos you saved, are you sure you want to continue?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-danger " data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-sm btn-success " data-bs-dismiss="modal" id="confirmDeleteSavedList">Yes</button>
                    </div>
                </div>
            </div>
        </div>

        <!--custom modal-->
        <div class="modal" tabindex="-1" id="logoutModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-danger">Wait</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="errorModalText">Are you sure you want to log out?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-danger " data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-sm btn-success " data-bs-dismiss="modal" id="confirmLogOut">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('includes/end.ejs') %>